<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">

    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/img/logo.png" alt="Image" height="150" class="mb-3">
                    <div class="text text-3xl font-medium mb-3">Bienvenido</div>
                    <span class="text font-medium">INICIA SESIÓN PARA CONTINUAR</span>
                    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
                    <div>

                            <app-widget-input-text nombre="user" label="Correo" tipo="text"
                                placeholder="Correo electrónico" [formGroup]="loginForm"></app-widget-input-text>
                        
                            <app-widget-input-pass nombre="password"  label="Contraseña"
                                placeholder="Contraseña" [formGroup]="loginForm"></app-widget-input-pass>
                        
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                           <!-- <div class="flex align-items-center">
                                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)">Forgot password?</a>-->
                        </div>
                        <button pButton pRipple type="submit" label="Entrar" class="w-full p-3 text-xl"></button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>