<div class="card">
    <!-- Dashboard Title -->
    <div class="flex justify-content-between align-items-center mb-3">
        <h4>Dashboard</h4>
    </div>

    <!-- Stats Chips -->
    <div class="d-flex justify-content-between mb-4">
        <!-- Number of Users -->
        <p-chip styleClass="pl-0 pr-3">
            <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">
                {{nUsers}}
            </span>
            <span class="ml-2 font-medium">
                NUMERO DE USUARIOS
            </span>
        </p-chip>

        <!-- Number of Comments -->
        <p-chip styleClass="pl-0 pr-3">
            <span class="bg-orange-500 border-circle w-2rem h-2rem flex align-items-center justify-content-center">
                {{nComments}}
            </span>
            <span class="ml-2 font-medium">
                NUMERO DE COMENTARIOS
            </span>
        </p-chip>

        <!-- Number of Proposals -->
        <p-chip styleClass="pl-0 pr-3">
            <span class="bg-green-500 border-circle w-2rem h-2rem flex align-items-center justify-content-center">
              {{nProposals}}
            </span>
            <span class="ml-2 font-medium">
                NUMERO DE PROPUESTAS
            </span>
        </p-chip>
    </div>

    <!-- Chart Section -->
    <div class="col-12">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
</div>