<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-4">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4 p-3">
                <ng-template pTemplate="left">
                    <div class="my-0 ">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>
            <app-loading *ngIf="wait"></app-loading>
            <p-table *ngIf="!wait" #dt [value]="notifications" [columns]="columnasTable" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['title','description']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} Notificaciones"
                 selectionMode="multiple" [rowHover]="true" dataKey="uid">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestión de Notificaciones</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let columna of columnasTable" pSortableColumn="{{columna.field}}">
                            {{columna.header}}
                            <p-sortIcon [field]="columna.field"></p-sortIcon>
                        </th>
                        <th>
                            Acciones
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-itemtable>
                    <tr>
                        <td style="width:33%; min-width:10rem;"><span class="p-column-title">title</span>
                            {{itemtable.title}}
                        </td>
                        <td style="width:33%; min-width:10rem;"><span class="p-column-title">description</span>
                            {{itemtable.description}}
                        </td>
                        <td style="width:33%; min-width:10rem;"><span class="p-column-title">created_at</span>
                            {{dateFormat(itemtable.created_at) }}
                        </td>
                        <td>
                            <div class="flex">
                                  <button pButton pRipple 
                                    pTooltip="Enviar notificación" 
                                    icon="pi pi-send"
                                    class="p-button-rounded p-button-text p-button-primary mr-0"
                                    (click)="sendNotification(itemtable)"
                                    ></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    pTooltip="Editar notificación"
                                    tooltipPosition="bottom"
                                    class="p-button-rounded p-button-text p-button-success mr-0"
                                    (click)="edit(itemtable)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    pTooltip="Eliminar notificación"
                                    tooltipPosition="left"
                                    class="p-button-rounded p-button-text p-button-danger mr-0"
                                    (click)="confirmDelete(itemtable)"
                                    ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="showDialog" [style]="{width: '450px'}" header='{{editar ? "EDITAR NOTIFICACIÓN" : "NUEVA NOTIFICACIÓN"}}'
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <app-widget-input-text nombre="title" label="Titulo" tipo="text" placeholder="Titulo"
                    [formGroup]="form"></app-widget-input-text>

                <app-widget-input-textarea nombre="description" label="Descripcion" disabled=false
                    placeholder="Escribe la descripcion de la notificación" [formGroup]="form"></app-widget-input-textarea>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialogNew()"></button>
                <button *ngIf="!editar" pButton pRipple label="Guardar" [icon]="iconButton" class="p-button-text"
                    (click)="save()" [disabled]="saving_user" [loading]="loading"></button>
                <button *ngIf="editar" pButton pRipple label="Editar" icon="pi pi-save" class="p-button-text"
                    (click)="editForm()" [loading]="loading"></button>
            </ng-template>
        </p-dialog>
        <p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle {{iconColor}} inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="{{iconToAsk}} text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button 
                    pButton 
                    label="Aceptar" 
                    (click)="cd.accept()" 
                    class="w-8rem">
                </button>
                <button 
                    pButton 
                    label="Cancelar" 
                    (click)="cd.reject()" 
                    class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
        </p-confirmDialog>

</div>
</div>
