<div class="landing-container">
    

    <!-- Selector Section -->
    <section class="selector-section">
        <div class="selector-content">
            <h2 class="selector-title">Rumbo al 2027</h2>
            <p-dropdown [options]="estados" [(ngModel)]="estadoSeleccionado" 
                placeholder="Selecciona un estado" optionLabel="nombre"
                (onChange)="onEstadoChange()"
                styleClass="estado-dropdown"></p-dropdown>
        </div>
    </section>

   

     <!-- Evolución Mensual -->
    <section class="evolution-section">
        <div class="evolution-header">
            <h2>línea de evolución anual</h2>
            <p class="evolution-note">* Los porcentajes son calculados en base al total de votos válidos por Año</p>
        </div>
        
       
                                                  <p-chart
                                            type="line"
                                            [data]="chartData"
                                            [options]="chartOptions"
                                            styleClass="evolution-chart">
                                            </p-chart>
      
    </section>


    